beautifulsoup4==4.12.2
click==8.1.3
decorator==5.1.1
emoji==2.2.0
googletrans==3.1.0a0
huggingface-hub==0.13.4
lxml==4.9.2
pandas==1.5.3
Pillow==9.5.0
pip==23.1
pyarrow==11.0.0
requests==2.28.2
snscrape==0.6.2.20230320
streamlit==1.21.0
sympy==1.11.1
tokenizers==0.13.3
toml==0.10.2
torch==2.0.0
tqdm==4.65.0
transformers==4.28.1
